.search-section{
    width: 100%;
    height: 100vh;
  
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchBlock{
    width: 600px;
    height: 75px;
    background-color: white;

    margin: 0 10px;
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.input{
    width: 70%;
    height: 30px;

    font-size: 18px;

    border: none;
    border-bottom: 1px solid #aaa;

    outline: none;

    font-family: 'Montserrat', sans-serif;
}

.searchBtn{
    width: 50px;
    height: 50px;
    
    background-color: rgba(255, 255, 255, 0);
    border: none;

    cursor: pointer;
}

.searchIcon{
    width: 35px;
    height: 35px;
}

/*Скрытие placeholder при фокусе*/

:focus::-webkit-input-placeholder {
    color: transparent
}
  
:focus::-moz-placeholder {
    color: transparent
}
  
:focus:-moz-placeholder {
    color: transparent
}
  
:focus:-ms-input-placeholder {
    color: transparent
}